<% if(locals.errors){%>
    <div class="error-container">
        <ul>
            <%
            errors.forEach(error => {
                %>
                    <li class="error-item">
                        <%= error.msg %>
                    </li>
                <%
            });
            %>
        </ul>
    </div>
<%} %>