<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/platforms">Platforms</a></li>
        <li><a href="/editions">Editions</a></li>
        <li><a href="/publishers">Publishers</a></li>
    </ul>
</nav>