:root{
    scrollbar-gutter: stable;
}

*, *::after, *::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "Inter", sans-serif;
}

image{
    display: block;
}

svg{
    min-height: 24px;
}

/* ==================== TOKENS ==================== */
:root{
    /* Font sizes */
    --font-size-extra-large: clamp(3rem, 2.75rem + 2vw, 3.5rem);
    --font-size-large:  clamp(2.25rem, 2rem + 1.5vw, 2.5rem);
    --font-size-medium:  clamp(1.75rem, 1rem + 1vw, 2rem);
    --font-size-normal: clamp(1.2rem, 1rem + 1vw, 1.5rem);
    --font-size-small: clamp(0.95rem, 0.75rem + 0.5vw, 1rem);

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-semi: 500;
    --font-weight-bold: 700; 

    /* Spacing */
    --space-tiny: 0.25rem;
    --space-small: 0.5rem;
    --space-medium: 1rem;
    --space-large: 1.5rem;
    --space-far: 2rem;
    --space-extreme: 4rem;

    /* Border radius */
    --radius-small: 8px;

    /* Shadows */
    --shadow-card: 0 1px 2px rgba(0,0,0,0.06),
                   0 4px 12px rgba(0,0,0,0.04);

    --shadow-lift-light: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
    --shadow-lift-regular: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    --shadow-lift-heavy: 0 2px 2px 0 rgba(0, 0, 0, 0.25);

    --shadow-light: 0 0 8px 0 rgba(0, 0, 0, 0.08);
    --shadow-regular: 0 0 8px 0 rgba(0, 0, 0, 0.15);
    --shadow-heavy: 0 0 8px 0 rgba(0, 0, 0, 0.25);

    --shadow-inner-light: inset 0 0 8px 0 rgba(0, 0, 0, 0.08);
    --shadow-inner-regular: inset 0 0 8px 0 rgba(0, 0, 0, 0.15);
    --shadow-inner-heavy: inset 0 0 8px 0 rgba(0, 0, 0, 0.25);

    /* Colors */
    --color-bg-base: #fbfaf8;
    --color-neutral-900: black;
    --color-neutral-800: rgb(77, 77, 77);
    --color-neutral-600: gray;
    --color-neutral-500: rgb(148, 148, 148);
    --color-neutral-400: rgb(167, 167, 167);
    --color-neutral-200: rgb(221, 221, 221);
    --color-neutral-150: rgb(235, 235, 235);
    --color-neutral-100: white;

    --color-accent: #3b84cc;
    --color-accent-faded: rgba(60, 133, 205, 0.3);
    --color-success: #11e245;
    --color-danger: #e21111;
}

/* ==================== MAIN LAYOUT ==================== */

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    padding: var(--space-medium);
    
    justify-content: space-between;
    align-items: center;

    box-shadow: var(--shadow-lift-light);
    background-color: var(--color-neutral-100);

    position: sticky;
    top: 0;

    z-index: 1;
}

.content{
    padding: var(--space-medium);
    
    width: min(900px, 100%);
    margin: 0 auto;
}

.content.error-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: var(--space-medium);

    margin: auto;

    background-color: var(--color-neutral-100);
    border: 1px solid var(--color-neutral-150);
    border-radius: var(--radius-small);
    box-shadow: var(--shadow-card);

    width: min(400px, 100%);

    color: var(--color-danger);
    fill: var(--color-danger);

    text-align: center;
}

.error-content .page-header{
    gap: var(--space-tiny);
    margin: 0;
    padding: var(--space-small);

    border-bottom: 1px solid var(--color-danger);
}

.content.error-content + .footer{
    margin: 0;
} 

.split-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: var(--space-small);

    justify-content:stretch;
}

.split-item-left, .split-item-right{
    padding: var(--space-medium);

    border: 1px solid var(--color-neutral-150);

    box-shadow: var(--shadow-card);

    border-radius: var(--radius-small);
}

.split-item-left{
    flex: 1;
}

.split-item-right{
    flex: 3;
    min-width: min(500px, 100%);
}

.footer{
    margin-top: auto;
    padding: var(--space-medium);
    text-align: center;

    border-top: 1px solid var(--color-neutral-200);
}

/* ==================== HEADING ==================== */

.page-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: var(--space-medium) 0;
    padding: 0 var(--space-medium);

    gap: var(--space-medium);
}

.main-heading{
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.page-heading{
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-bold);
}

.section-heading{
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-semi);
}

.card-heading{
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi);
}
.list-heading{
    color: var(--color-neutral-500);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-small);
}

.main-heading, .page-heading, .section-heading, .card-heading, .list-heading{
    font-family: 'Sora', sans-serif;
}

/* ==================== HAMBURGER MENU ==================== */
.hamburger-container{
    position: relative;
}

#hamburger{
    padding: var(--space-small) var(--space-medium);
    border-radius: var(--radius-small);
    border: 1px solid var(--color-neutral-900);
}

#hamburger:hover{
    background-color: var(--color-neutral-900);
    fill: var(--color-neutral-100);
}

#hamburger svg{
    vertical-align: middle;
}

#nav-menu {
  display: none;
  position: absolute;
  right: 0;

  margin-top: var(--space-small);
  border: 1px solid black;
  border-radius: var(--radius-small);

  background-color: white;

  z-index: 2;
  overflow: hidden;
}

#nav-menu ul{
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#nav-menu li{
    padding: var(--space-tiny) var(--space-medium);
    background-color: var(--color-neutral-100);

    transition: background-color 0.15s ease;
}
#nav-menu li:hover{
    background-color: var(--color-accent);
}

#nav-menu li:hover a{
    color: var(--color-neutral-100);
}

#nav-menu a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--color-neutral-900);

    transition: color 0.15s ease;
}

#nav-menu.active {
  display: block;
}

#hamburger {
  cursor: pointer;
}

#hamburger svg{
    width: 20px;

    vertical-align: middle;
}


/* ==================== ACTIONS ==================== */
.action{
    text-decoration: none;
    display: inline-block;
    padding: var(--space-tiny) var(--space-medium);
    border-radius: var(--radius-small);
    text-align: center;

    --action-color: var(--color-neutral-100); 
    --action-text-color: var(--color-neutral-900); 
    
    color: var(--action-text-color);
    background-color: var(--action-color);
    border: 1px solid var(--action-text-color);
    
    transition: color 0.1s ease, background-color 0.1s ease;
}

.action:hover{
    color: var(--action-color);
    background-color: var(--action-text-color);
    border: 1px solid var(--action-color);
}

.action button{
    background-color: transparent;
    border: none;
    color: inherit;
}

.get-action{
    --action-color: var(--color-neutral-100); 
    --action-text-color: var(--color-neutral-800); 
}

.edit-action{
    --action-color: var(--color-neutral-100); 
    --action-text-color: var(--color-neutral-800);
}

.create-action{
    --action-color: var(--color-accent);
    --action-text-color: var(--color-neutral-100);
}

.delete-action{
    --action-color: var(--color-neutral-100); 
    --action-text-color: var(--color-danger); 
}

.search-bar{
    display: flex;
    justify-content: center;

    align-items: center;

    gap: var(--space-small);
}



/* ==================== BUTTONS ==================== */

.submit-btn{
    color: var(--color-neutral-100);
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
    border-radius: var(--radius-small);
    padding: var(--space-small);
    
    transition: color 0.1s ease, background-color 0.1s ease;
}

.submit-btn:hover{
    background-color: var(--color-neutral-100);
    color: var(--color-accent);
}

/* ==================== FORM AND INPUTS ==================== */

input, textarea, select{
    padding: var(--space-small);
    border: 1px solid var(--color-neutral-200);
    border-radius: var(--radius-small);
    min-height: 40px;

    background-color: var(--color-neutral-100);

    transition: background-color 0.4s ease;
}

input:not([type='checkbox']):hover, input:not([type='checkbox']):focus,
textarea:hover, textarea:focus,
select:hover, select:focus{
    box-shadow: var(--shadow-inner-regular);
}

select::picker-icon{
    color: var(--color-neutral-500);
    transition: transform 0.1s ease;
    transform-origin: center;
}

select:open::picker-icon{
    transform: rotateZ(180deg);
}

textarea{
    resize: vertical;
    
    min-height: 250px;
}

select, ::picker(select){
    appearance: base-select;
}

select{
    display: flex;
    align-items: center; 
}
option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
  transition: 0.15s;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

::picker(select) {
    border: none;
    border-radius: 8px;
    outline: 2px solid var(--color-neutral-900);
}

option:hover,
option:focus,
option:checked {
  background: var(--color-accent);
  color: var(--color-neutral-100);
}

option:checked {
  color: var(--color-neutral-100);
}

.form{
    display: flex;
    flex-direction: column;

    gap: var(--space-medium);
    
    padding: var(--space-medium);

    box-shadow: var(--shadow-light);
    border: 1px solid var(--color-neutral-150);

    background-color: var(--color-neutral-100);

    border-radius: var(--radius-small);
}


.input-row{
    display: flex;
    flex-direction: column;

    gap: var(--space-small);
}

.input-row label, fieldset legend{
    user-select: none;
}

.input-row.checkbox{
    flex-direction: row;

    align-items: center;
    justify-content: flex-start;
}

fieldset{
    border: none;
    display: flex;
    flex-direction: column;
}

fieldset legend{
    margin-bottom: var(--space-small);
}

fieldset .input-group{
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-medium);
    
    border: 1px solid var(--color-neutral-200);
    border-radius: var(--radius-small);
    padding: var(--space-small);

}


/* ==================== CONTAINERS AND THEIR CHILDREN ==================== */

.list-card-container{
    display: flex;
    flex-direction: column;
    gap: var(--space-small);
}

.list-card{
    display: flex;
    align-items: center;
    
    gap: var(--space-small);

    box-shadow: var(--shadow-card);
    border: 1px solid var(--color-neutral-150);

    padding: var(--space-small) var(--space-medium);
    border-radius: var(--radius-small);
}

.list-card .tool-bar{
    margin-left: auto;
}

.tool-bar{
    display: flex;
    gap: var(--space-small);
}

.grid-card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    gap: var(--space-small);
}

.grid-card-container .action:last-child{
    margin-top: auto;
    align-self: stretch;
    box-shadow: var(--shadow-light);
}

.grid-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-small);

    border: 1px solid var(--color-neutral-150);
    border-radius: var(--radius-small);
    box-shadow: var(--shadow-card);

    padding: var(--space-small);
}

.image-container{
    width: 100%;
    
    position: relative;
    
    border-radius: var(--radius-small);
    
    overflow: hidden;
}
.grid-card img{
    width: 100%;
    height:200px;
    object-fit: cover;
    object-position: top;
}

.image-container::after{
    content: '';
    position: absolute;
    inset: 0;

    background: linear-gradient(to top,white 5%,  rgba(255,255,255,0.75) 15%, transparent 50%);
}

/* ==================== DETAILS ==================== */

.detail-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-small);

    margin: var(--space-medium) 0;
}

.detail-group .page-header{
    padding: 0;
    margin: 0;
}

.description{
    white-space: pre-line;
}

.chip-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    gap: var(--space-small);
}

.list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
}

.list-item{
    padding: 0 var(--space-small);
}

.chip{
    padding: var(--space-tiny) var(--space-medium);
    border: 1px solid var(--color-neutral-400);
    border-radius: var(--radius-small);
}

.cover-image{
    width: 100%;
    aspect-ratio: 16/9;

    object-fit: cover;
    object-position: top;
}


/* =================== ERRORS ==================== */

.error-container{
    border: 1px solid var(--color-danger);
    border-radius: var(--radius-small);
    background-color: var(--color-neutral-100);
    color: var(--color-danger);
    margin-bottom: var(--space-small);
    padding: var(--space-medium);
    display: flex;
    flex-direction: column;
}

.error-container ul{
    margin: auto;
}

.error-container .section-heading{
    text-align: center;
    margin-bottom: var(--space-small);
}

.error-message{
    display: flex;
    justify-content: center;
}